.header {
    height: 100px;
    padding-top: 20px;
    background: #FAF98C;
    color: #0C5448	;
}

.header h1 {
    font-size: 60px;
}

.header .offset-left {
    position: absolute;
    left: 10px;
    top: 40px;
}

.tagline {
    margin-top: -16px;
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    color: #844F13;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

.btn {
    font-family: 'trebuchet ms', sans-serif;
}

.label {
    font-weight: normal;
}

.extra-info {
    position: relative;
    border: solid 1px #d7cd78;
    background: #fffbd5 url(img/light_bulb.png) no-repeat;
    background-position: 0px 3px;
    width: auto;
    padding: 5px 5px 5px 30px;
    min-height: 28px;
    display: inline-block;
    margin-bottom: 1em;
}

.extra-info .content {
    margin-left: 15px;
}

.h-splitter, .v-splitter {
	background: #ddd;
    /*
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    */
}

/*
.v-splitter {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
*/

.uitleg {
    margin: 1em;
}

.buttonbar { border-top: solid 1px #ccc; }
.buttonbar-inner { margin: 5px; }

.editor {
    overflow: auto !important;
    width: 100%;
    height: 100%;
}

.preview-pane {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0px;
    top: 0px;
    bottom: 0px;
}

.CodeMirror {
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

